<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICrawlController"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8085/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICrawlController" contract="ICrawlController" name="BasicHttpBinding_ICrawlController"/>
    </client>
  </system.serviceModel>
</configuration>