
# /HSA.InfoSys/3rdparty/MySqlConnector-6.6.5/Source/MySql.Data/
/HSA.InfoSys/3rdparty/MySqlConnector-6.6.5/Source/MySql.Data/bin
/HSA.InfoSys/3rdparty/MySqlConnector-6.6.5/Source/MySql.Data/obj

# /HSA.InfoSys/3rdparty/MySqlConnector-6.6.5/Source/MySql.Web/
/HSA.InfoSys/3rdparty/MySqlConnector-6.6.5/Source/MySql.Web/bin
/HSA.InfoSys/3rdparty/MySqlConnector-6.6.5/Source/MySql.Web/obj

# /HSA.InfoSys/3rdparty/log4net-1.2.11/
/HSA.InfoSys/3rdparty/log4net-1.2.11/examples
/HSA.InfoSys/3rdparty/log4net-1.2.11/tests
/HSA.InfoSys/3rdparty/log4net-1.2.11/build

# /HSA.InfoSys/3rdparty/log4net-1.2.11/src/
/HSA.InfoSys/3rdparty/log4net-1.2.11/src/log4net.xml
/HSA.InfoSys/3rdparty/log4net-1.2.11/src/obj

# /HSA.InfoSys/3rdparty/nhibernate-core/
/HSA.InfoSys/3rdparty/nhibernate-core/.git
/HSA.InfoSys/3rdparty/nhibernate-core/doc
/HSA.InfoSys/3rdparty/nhibernate-core/.gitattributes
/HSA.InfoSys/3rdparty/nhibernate-core/.gitignore
/HSA.InfoSys/3rdparty/nhibernate-core/.hgignore

# /HSA.InfoSys/3rdparty/nhibernate-core/src/NHibernate/
/HSA.InfoSys/3rdparty/nhibernate-core/src/NHibernate/bin
/HSA.InfoSys/3rdparty/nhibernate-core/src/NHibernate/obj

# /HSA.InfoSys/HSA.InfoSys.CrawlerService/
/HSA.InfoSys/HSA.InfoSys.CrawlerService/bin
/HSA.InfoSys/HSA.InfoSys.CrawlerService/*

# /HSA.InfoSys/HSA.InfoSys.DBTesting/
/HSA.InfoSys/HSA.InfoSys.DBTesting/bin
/HSA.InfoSys/HSA.InfoSys.DBTesting/obj

# /HSA.InfoSys/HSA.InfoSys.Gui/
/HSA.InfoSys/HSA.InfoSys.Gui/HSA.InfoSys.Gui.suo
/HSA.InfoSys/HSA.InfoSys.Gui/Bin
/HSA.InfoSys/HSA.InfoSys.Gui/obj
/HSA.InfoSys/HSA.InfoSys.Gui/App_Data
/HSA.InfoSys/HSA.InfoSys.Gui/bin

# /HSA.InfoSys/HSA.InfoSys.Gui/Bootstrap/
/HSA.InfoSys/HSA.InfoSys.Gui/Bootstrap/App_Data

# /HSA.InfoSys/HSA.InfoSys.Logging/
/HSA.InfoSys/HSA.InfoSys.Logging/bin
/HSA.InfoSys/HSA.InfoSys.Logging/obj

# /HSA.InfoSys/HSA.InfoSys.NetDataContractSerializer/
/HSA.InfoSys/HSA.InfoSys.NetDataContractSerializer/bin
/HSA.InfoSys/HSA.InfoSys.NetDataContractSerializer/obj

# /HSA.InfoSys/HSA.InfoSys.NutchTesting/
/HSA.InfoSys/HSA.InfoSys.NutchTesting/bin
/HSA.InfoSys/HSA.InfoSys.NutchTesting/obj

# /HSA.InfoSys/HSA.InfoSys.SolrTesting/
/HSA.InfoSys/HSA.InfoSys.SolrTesting/bin
/HSA.InfoSys/HSA.InfoSys.SolrTesting/obj

# /HSA.InfoSys/HSA.InfoSys.WCFTesting/
/HSA.InfoSys/HSA.InfoSys.WCFTesting/bin
/HSA.InfoSys/HSA.InfoSys.WCFTesting/obj
