<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HSA.InfoSys.Common.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HSA.InfoSys.Common.Services.Properties.Settings>
            <setting name="SOLR_HOST" serializeAs="String">
                <value>141.82.59.139</value>
            </setting>
            <setting name="SOLR_PORT" serializeAs="String">
                <value>8983</value>
            </setting>
            <setting name="SOLR_QUERY_FORMAT" serializeAs="String">
                <value>/solr/{0}/select?q={1}&amp;wt={2}&amp;indent=true</value>
            </setting>
            <setting name="SOLR_REQUEST_FORMAT" serializeAs="String">
                <value>GET {0} HTTP/1.1{1}Host: {2}{3}Content-Length: 0{4}</value>
            </setting>
            <setting name="SOLR_COLLECTION" serializeAs="String">
                <value>InfoSys</value>
            </setting>
            <setting name="PREFIX" serializeAs="String">
                <value>+^http://([a-z0-9]*\\.)*</value>
            </setting>
            <setting name="SOLRSERVER" serializeAs="String">
                <value>http://infosys.informatik.hs-augsburg.de:8983/solr</value>
            </setting>
            <setting name="SEED_FILENAME" serializeAs="String">
                <value>seed.txt</value>
            </setting>
            <setting name="BASEURL_PATH" serializeAs="String">
                <value>.nutch/urls</value>
            </setting>
            <setting name="PREFIX_PATH" serializeAs="String">
                <value>.nutch/</value>
            </setting>
            <setting name="PATH_FORMAT_TWO" serializeAs="String">
                <value>{0}/{1}</value>
            </setting>
            <setting name="PATH_FORMAT_THREE" serializeAs="String">
                <value>{0}/{1}/{2}</value>
            </setting>
            <setting name="NUTCH_COMMAND" serializeAs="String">
                <value>nutch</value>
            </setting>
            <setting name="NUTCH_CRAWL_REQUEST" serializeAs="String">
                <value>crawl {0} -solr {1} -depth {2} -topN {3}</value>
            </setting>
            <setting name="PREFIX_FORMAT" serializeAs="String">
                <value>{0}/{1}</value>
            </setting>
            <setting name="PATH_FORMAT_FOUR" serializeAs="String">
                <value>{0}/{1}/{2}/{3}</value>
            </setting>
            <setting name="PREFIX_FILENAME" serializeAs="String">
                <value>regex-urlfilter.txt</value>
            </setting>
            <setting name="NET_TCP_ADDRESS" serializeAs="String">
                <value>net.tcp://localhost:{0}/CrawlerProxy/</value>
            </setting>
            <setting name="CERTIFICATE_PATH_DOTNET" serializeAs="String">
                <value>Certificates/InfoSys.pfx</value>
            </setting>
            <setting name="HTTP_ADDRESS" serializeAs="String">
                <value>http://localhost:{0}/CrawlerProxy/</value>
            </setting>
            <setting name="CERTIFICATE_PATH_MONO" serializeAs="String">
                <value>/etc/ssl/crawlerService/InfoSys.pfx</value>
            </setting>
            <setting name="SMTP_SERVER" serializeAs="String">
                <value>smtp.hs-augsburg.de</value>
            </setting>
            <setting name="EMAIL_NOTIFIER_FROM" serializeAs="String">
                <value>noreply@infosys.hs-augsburg.de</value>
            </setting>
        </HSA.InfoSys.Common.Services.Properties.Settings>
    </applicationSettings>
</configuration>