<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HSA.InfoSys.Common.CrawlController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HSA.InfoSys.Common.CrawlController.Properties.Settings>
            <setting name="SOLR_HOST" serializeAs="String">
                <value>141.82.59.139</value>
            </setting>
            <setting name="SOLR_PORT" serializeAs="String">
                <value>8983</value>
            </setting>
        </HSA.InfoSys.Common.CrawlController.Properties.Settings>
    </applicationSettings>
</configuration>