<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=null"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HSA.InfoSys.WebCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral"/>

    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="mysql" connectionString="server=infosys.informatik.hs-augsburg.de;database=infosys;user id=infosys;password=Oes)ohw6pa;Allow User Variables=true" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <!-- Log4Net -->

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="TraceAppender"/>
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\..\Log\"/>
      <datePattern value="dd.MM.yyyy'_HSA.InfoSys.WebCrawler.log'"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{dd-MM-yyyy hh:mm:ss} – %m%n"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--2013-05-13 11:33:11,358 [1] INFO  WebCrawler [(null)] - Benutzer beendet Anwendung.-->
        <conversionPattern value="%date [%thread] %-5level %logger in %M - %message%newline"/>
      </layout>
    </appender>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger in %M - %message%newline"/>
      </layout>
    </appender>

  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- WCF Service -->

  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="MetaInformation" name="HSA.InfoSys.WebCrawler.CrawlController">
        <endpoint address="http://localhost:8085" binding="basicHttpBinding" bindingConfiguration="" contract="HSA.InfoSys.WebCrawler.ICrawlController"/>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaInformation">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8085/GetMetaInformation"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding transferMode="Streamed"></binding>
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <applicationSettings>
    <HSA.InfoSys.WebCrawler.Properties.Settings>
      <setting name="SOLR_HOST" serializeAs="String">
        <value>141.82.59.139</value>
      </setting>
      <setting name="SOLR_PORT" serializeAs="String">
        <value>8983</value>
      </setting>
    </HSA.InfoSys.WebCrawler.Properties.Settings>
  </applicationSettings>
</configuration>