<?xml version="1.0"?>
<!-- 
    Hinweis: Alternativ zur manuellen Bearbeitung dieser Datei können Sie auch
    mit dem Webverwaltungstool die Einstellungen für Ihre Anwendung
    konfigurieren. Verwenden Sie in Visual Studio unter "Website" die Option
    "ASP.NET-Konfiguration".
    Eine vollständige Liste aller Einstellungen und Kommentare finden Sie unter
    "machine.config.comments" (üblicherweise unter
    "\Windows\Microsoft.Net\Framework\v2.x\Config"). 
-->
<configuration>
  <appSettings>
    <add key="ReCaptchaPrivateKey" value="6LfDVeASAAAAAGJwoiYwhIyYxSFFKpzPjhl8mQBZ"/>
    <add key="ReCaptchaPublicKey" value="6LfDVeASAAAAAJGnujpIx5FNSL89f2i37sPkwns9"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="Datasource=infosys.informatik.hs-augsburg.de; uid=infosys; Pwd=Oes)ohw6pa; Database=infosys;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <!-- 
            Legen Sie beim Kompilieren debug="true" fest, um
            Debugsymbole in die kompilierte Seite einzufügen. Da dies
            die Leistung beeinträchtigt, sollte der Wert nur beim
            Entwickeln auf "true" festgelegt werden.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
    </compilation>
    <!--
            Der Abschnitt "<authentication>" ermöglicht die Konfiguration 
            des Sicherheitsauthentifizierungsmodus,
            mit dem eingehende Benutzer von ASP.NET identifiziert werden. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear/>
        <add name="MySqlMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web,Version=6.6.5.0, Culture=neutral" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" autogenerateschema="true"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add type="MySql.Web.Security.MySQLProfileProvider, MySql.Web,Version=6.6.5.0, Culture=neutral" name="MySqlProfileProvider" applicationName="/" connectionStringName="LocalMySqlServer" autogenerateschema="true"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="MySqlRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="LocalMySqlServer" applicationName="/" name="MySqlRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web,Version=6.6.5.0, Culture=neutral" autogenerateschema="true"/>
      </providers>
    </roleManager>
    <!--
            Der Abschnitt "<customErrors>" ermöglicht die Konfiguration
            der Vorgehensweise bei unbehandelten Fehlern während
            der Anforderungsausführung. Insbesondere
            können Entwickler HTML-Fehlerseiten konfigurieren,
            die anstelle einer Fehlerstapelüberwachung angezeigt werden.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="MvcReCaptcha.Helpers"/>
      </namespaces>
    </pages>
  </system.web>
  <system.web.extensions/>
  <!-- 
        Der Abschnitt "system.webServer" ist zum Ausführen von ASP.NET AJAX unter
        Internetinformationsdienste 7.0 (Internet Information Services, IIS) erforderlich.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <handlers>
      <remove name="UrlRoutingHandler"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- WCF Service -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICrawlController"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8085/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICrawlController" contract="ICrawlController" name="BasicHttpBinding_ICrawlController"/>
    </client>
  </system.serviceModel>
</configuration>
